
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SuccessMessage</title>
</head>
<body>
    <div> 
        <h2>New Employee is Created Successfully...</h2>
    </div>
</body>
</html>
